USE [master]
GO
/****** Object:  Database [AtomatizacionOR]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE DATABASE [AtomatizacionOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AtomatizacionOR', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERDEV\MSSQL\DATA\AtomatizacionOR.mdf' , SIZE = 47104KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AtomatizacionOR_log', FILENAME = N'F:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVERDEV\MSSQL\DATA\AtomatizacionOR_log.ldf' , SIZE = 84416KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AtomatizacionOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AtomatizacionOR]
GO
/****** Object:  User [UsrRobotORDEV]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [UsrRobotORDEV] FOR LOGIN [UsrRobotORDEV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsrPOAutoORDEV]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [UsrPOAutoORDEV] FOR LOGIN [UsrPOAutoORDEV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [UsrAutoORDEV]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [UsrAutoORDEV] FOR LOGIN [UsrAutoORDEV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FARMAYPO\novis.sql]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [FARMAYPO\novis.sql] FOR LOGIN [FARMAYPO\novis.sql] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FARMAYPO\jorge.chavero]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [FARMAYPO\jorge.chavero] FOR LOGIN [FARMAYPO\jorge.chavero] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [FARMAYPO\cesar.vazquez]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE USER [FARMAYPO\cesar.vazquez] FOR LOGIN [FARMAYPO\cesar.vazquez] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsrRobotORDEV]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsrPOAutoORDEV]
GO
ALTER ROLE [db_owner] ADD MEMBER [UsrAutoORDEV]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [FARMAYPO\novis.sql]
GO
ALTER ROLE [db_owner] ADD MEMBER [FARMAYPO\jorge.chavero]
GO
ALTER ROLE [db_owner] ADD MEMBER [FARMAYPO\cesar.vazquez]
GO
USE [AtomatizacionOR]
GO
/****** Object:  Sequence [dbo].[sequense_error]    Script Date: 20/10/2022 09:59:34 a. m. ******/
CREATE SEQUENCE [dbo].[sequense_error] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  UserDefinedFunction [dbo].[split]    Script Date: 20/10/2022 09:59:34 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[split](
          @delimited NVARCHAR(MAX),
          @delimiter NVARCHAR(100)
        ) RETURNS @t TABLE (id INT IDENTITY(1,1), Key_Value NVARCHAR(MAX))
        AS
        BEGIN
          DECLARE @xml XML
          SET @xml = N'<t>' + REPLACE(@delimited,@delimiter,'</t><t>') + '</t>'

          INSERT INTO @t(Key_Value)
          SELECT  r.value('.','varchar(MAX)') as item
          FROM  @xml.nodes('/t') as records(r)
          RETURN
        END
GO
/****** Object:  UserDefinedFunction [dbo].[udf-Str-Parse]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udf-Str-Parse] (@String varchar(max),@delimeter varchar(10))
--Usage: Select * from [dbo].[udf-Str-Parse]('Dog,Cat,House,Car',',')
--       Select * from [dbo].[udf-Str-Parse]('John Cappelletti was here',' ')
--       Select * from [dbo].[udf-Str-Parse]('id26,id46|id658,id967','|')

Returns @ReturnTable Table (Key_PS int IDENTITY(1,1) NOT NULL , Key_Value varchar(max))

As

Begin
   Declare @intPos int,@SubStr varchar(max)
   Set @IntPos = CharIndex(@delimeter, @String)
   Set @String = Replace(@String,@delimeter+@delimeter,@delimeter)
   While @IntPos > 0
      Begin
         Set @SubStr = Substring(@String, 0, @IntPos)
		
         Insert into @ReturnTable (Key_Value) values (@SubStr)
         Set @String = Replace(@String, @SubStr + @delimeter, '')
		
         Set @IntPos = CharIndex(@delimeter, @String)
      End
   Insert into @ReturnTable (Key_Value) values (@String)
   Return 
End
GO
/****** Object:  Table [dbo].[ALTA_CARGA_ROBOT]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALTA_CARGA_ROBOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ARCHIVO] [varbinary](max) NULL,
	[STATUS] [nvarchar](1) NULL,
	[CLIENT] [nvarchar](255) NULL,
	[RFC] [nvarchar](15) NULL,
	[FECHA_CREACION] [nvarchar](255) NULL,
	[HORA_CREACION] [nvarchar](255) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_ALTA_CARGA_ROBOT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALTAS]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALTAS](
	[ALTA] [nvarchar](18) NULL,
	[FECHA] [nvarchar](10) NULL,
	[NO_CONTRATO] [nvarchar](40) NULL,
	[NO_ORDEN] [nvarchar](40) NULL,
	[PEDIDO_SAP] [nvarchar](10) NULL,
	[CCB] [nvarchar](35) NULL,
	[CANTIDAD] [nvarchar](17) NULL,
	[IMPORTE] [nvarchar](17) NULL,
	[FPP] [nvarchar](10) NULL,
	[UN_REC] [nvarchar](15) NULL,
	[DES_UNIDAD] [nvarchar](255) NULL,
	[RFC] [nvarchar](16) NULL,
	[clasPtalDist] [nvarchar](15) NULL,
	[descDist] [nvarchar](40) NULL,
	[totalItems] [int] NULL,
	[resguardo] [nvarchar](100) NULL,
	[STATUS] [nvarchar](20) NULL,
	[PROCESADO] [nvarchar](1) NULL,
	[ID_CS] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARGA_ROBOT]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGA_ROBOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ARCHIVO] [varbinary](max) NULL,
	[STATUS] [nvarchar](1) NULL,
	[CLIENT] [nvarchar](255) NULL,
	[RFC] [nvarchar](15) NULL,
	[FECHA_CREACION] [nvarchar](255) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_CARGA_ROBOT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCB_Consulta]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCB_Consulta](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[PEDIDO_SAP] [nvarchar](10) NOT NULL,
	[CLIENTE_FACTURA] [nvarchar](30) NULL,
	[FECHA_INSERCION] [nvarchar](10) NULL,
	[HORA_CREACION] [nvarchar](10) NULL,
	[DELIVERY] [nvarchar](10) NULL,
	[FECHA_DELIVERY] [nvarchar](10) NULL,
	[HORA_DELIVERY] [nvarchar](10) NULL,
	[STATUS] [nvarchar](20) NULL,
	[RFC] [nvarchar](16) NULL,
	[PROCESADO] [nvarchar](1) NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[CLIENTE_DESTINO] [nvarchar](10) NULL,
	[DESCRIPCION_DESTINO] [nvarchar](160) NULL,
	[ENTIDAD_FEDERATIVA] [nvarchar](20) NULL,
	[DESCRIPCION_MATERIAL] [nvarchar](40) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_CCB_Consulta] PRIMARY KEY CLUSTERED 
(
	[NO_ORDEN] ASC,
	[PEDIDO_SAP] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCB_CORTA_IMSS]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCB_CORTA_IMSS](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[NO_CONTRATO] [nvarchar](40) NULL,
	[NO_SOLICITUD] [nvarchar](40) NULL,
	[LUGAR_ENTREGA] [nvarchar](15) NULL,
	[ALMACEN_DESTINO] [nvarchar](15) NULL,
	[ALMACEN_ENTREGA] [varchar](150) NULL,
	[DIRECCION_ALMACEN] [varchar](150) NULL,
	[CLUES] [nvarchar](150) NULL,
	[ENTIDAD_FEDERATIVA] [nvarchar](20) NULL,
	[PROCEDIMIENTO] [nvarchar](25) NULL,
	[FIANZA] [nvarchar](25) NULL,
	[PARTIDA_PRESUPUESTAL] [nvarchar](7) NULL,
	[NO_PROYECTO] [nvarchar](50) NULL,
	[NO_ADQUISICION] [nvarchar](25) NULL,
	[PROVEEDOR] [nvarchar](30) NULL,
	[ALMACEN] [nvarchar](50) NULL,
	[CANTIDAD_TOTAL] [nvarchar](5) NULL,
	[SUBTOTAL] [nvarchar](15) NULL,
	[MONTO_TOTAL] [nvarchar](15) NULL,
	[INSTITUCION] [nvarchar](15) NULL,
	[CLUE] [nvarchar](60) NULL,
	[PROCESADO] [nvarchar](2) NULL,
	[FECHA_INSERCION] [nvarchar](10) NULL,
	[HORA_INSERCION] [nvarchar](10) NULL,
	[FECHA_PROCESADO] [nvarchar](10) NULL,
	[HORA_PROCESADO] [nvarchar](10) NULL,
	[STATUS] [nvarchar](20) NULL,
	[ESTATUS_CLIENTE] [nvarchar](250) NULL,
	[RFC] [nvarchar](16) NULL,
	[FECHA_ENTREGA] [nvarchar](10) NULL,
	[FECHA_EMISION] [nvarchar](10) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_OR_CORTA_IMSS] PRIMARY KEY CLUSTERED 
(
	[NO_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCB_CORTA_INSABI]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCB_CORTA_INSABI](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[NO_CONTRATO] [nvarchar](40) NULL,
	[ALMACEN_ENTREGA] [varchar](150) NULL,
	[DIRECCION_ALMACEN] [varchar](150) NULL,
	[CLUES] [nvarchar](150) NULL,
	[ENTIDAD_FEDERATIVA] [nvarchar](20) NULL,
	[PROCEDIMIENTO] [nvarchar](25) NULL,
	[FIANZA] [nvarchar](25) NULL,
	[PARTIDA_PRESUPUESTAL] [nvarchar](7) NULL,
	[CLUE] [nvarchar](60) NULL,
	[PROCESADO] [nvarchar](2) NULL,
	[RFC] [nvarchar](16) NULL,
	[FECHA_ENTREGA] [nvarchar](10) NULL,
	[FECHA_EMISION] [nvarchar](10) NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_OR_CCB_CORTA_INSABI] PRIMARY KEY CLUSTERED 
(
	[NO_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCB_CORTA_POSICION]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCB_CORTA_POSICION](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[CCB] [nvarchar](35) NOT NULL,
	[CANTIDAD] [nvarchar](17) NULL,
	[ITEM] [nvarchar](5) NULL,
	[DESCRIPCION_ITEM] [nvarchar](150) NULL,
	[PRECIO] [nvarchar](17) NULL,
	[PROCESADO] [nvarchar](2) NULL,
	[FECHA_INSERCION] [nvarchar](10) NULL,
	[HORA_INSERCION] [nvarchar](10) NULL,
 CONSTRAINT [PK_CCB_CORTA_POSICION] PRIMARY KEY CLUSTERED 
(
	[NO_ORDEN] ASC,
	[CCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CCB_Suministro]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CCB_Suministro](
	[RFC] [nvarchar](15) NOT NULL,
	[CCB] [nvarchar](35) NOT NULL,
	[CLIENTE] [nvarchar](100) NULL,
 CONSTRAINT [PK_CCB_Suministro] PRIMARY KEY CLUSTERED 
(
	[RFC] ASC,
	[CCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONSULTA_POS]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTA_POS](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[PEDIDO_SAP] [nvarchar](10) NOT NULL,
	[POS] [nvarchar](6) NOT NULL,
	[MATERIAL] [nvarchar](18) NOT NULL,
	[DELIVERY] [nvarchar](10) NULL,
	[PROCEDENCIA] [nvarchar](30) NULL,
	[CB] [nvarchar](30) NULL,
	[CCB] [nvarchar](35) NULL,
	[DESCRIPCION] [nvarchar](400) NULL,
	[CANTIDAD] [nvarchar](17) NULL,
	[LOTE] [nvarchar](10) NULL,
	[PESO] [nvarchar](15) NULL,
	[ALTO] [nvarchar](15) NULL,
	[ANCHO] [nvarchar](15) NULL,
	[PROFUNDIDAD] [nvarchar](15) NULL,
	[UN_ENVASE] [nvarchar](5) NULL,
	[BULTOS] [nvarchar](5) NULL,
	[NUM_REMISI] [nvarchar](10) NULL,
	[FECHA_CAD] [nvarchar](10) NULL,
	[FECHA_FAB] [nvarchar](10) NULL,
	[MARCA] [nvarchar](20) NULL,
	[FECHA_LIMITE] [nvarchar](10) NULL,
	[STATUS] [nvarchar](20) NULL,
	[FECHA_INSERCION] [nvarchar](10) NULL,
	[HORA_CREACION] [nvarchar](10) NULL,
	[PROCESADO] [nvarchar](1) NULL,
 CONSTRAINT [PK_CONSULTA_POS] PRIMARY KEY CLUSTERED 
(
	[NO_ORDEN] ASC,
	[PEDIDO_SAP] ASC,
	[POS] ASC,
	[MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERLOCUTORES]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERLOCUTORES](
	[LUGAR_ENTREGA] [nvarchar](15) NOT NULL,
	[CLIENTE_DESTINO] [nvarchar](10) NULL,
 CONSTRAINT [PK_INTERLOCUTORES] PRIMARY KEY CLUSTERED 
(
	[LUGAR_ENTREGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTERLOCUTORES_INSABI]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERLOCUTORES_INSABI](
	[CLUE] [nvarchar](60) NOT NULL,
	[DESTINATARIO_MERCANCIA] [nvarchar](15) NULL,
 CONSTRAINT [PK_INTERLOCUTORES_INSABI] PRIMARY KEY CLUSTERED 
(
	[CLUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listado_SC]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listado_SC](
	[ID_CS] [int] NOT NULL,
	[NOMBRE_SC] [nvarchar](60) NULL,
	[USUARIO] [nvarchar](40) NULL,
	[PASSWORD] [nvarchar](40) NULL,
	[TODAS_CLAVES] [nvarchar](2) NOT NULL,
	[SUMINIS_LOTE] [nvarchar](2) NOT NULL,
	[PREFIJO_ARCHIVO] [nvarchar](20) NULL,
	[CLASE_DOCUMENTO] [nvarchar](4) NULL,
	[CENTRO] [nvarchar](4) NULL,
	[ORG_VENTAS] [nvarchar](4) NULL,
	[CANAL] [int] NULL,
	[PROCESADO] [nvarchar](2) NULL,
	[RFC] [nvarchar](16) NOT NULL,
	[MAIL_DESTINATARIO] [nvarchar](255) NULL,
	[TELEFONO_DESTINATARIO] [nvarchar](255) NULL,
	[CLIENTE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Listado_SC] PRIMARY KEY CLUSTERED 
(
	[ID_CS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_errores]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_errores](
	[NO_ORDEN] [nvarchar](40) NOT NULL,
	[STATUS] [nvarchar](20) NULL,
	[CODIGO_MENSAJE] [numeric](4, 0) NULL,
	[FECHA_ERROR] [nvarchar](10) NULL,
	[HORA_ERROR] [nvarchar](10) NULL,
	[PROCESADO] [nvarchar](2) NULL,
	[MENSAJE] [nvarchar](255) NULL,
	[RFC] [nvarchar](16) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTE] [nvarchar](255) NULL,
	[ID_CS] [int] NULL,
 CONSTRAINT [PK_Log_Errores] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[confirmation_insabi_view]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[confirmation_insabi_view]  
AS 
SELECT no_orden,delivery, cantidad = 
    STUFF((SELECT ', ' + cantidad
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		   ,lote = 
    STUFF((SELECT ', ' + lote
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		   ,CCB = 
    STUFF((SELECT ', ' + CCB
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_cad = 
    STUFF((SELECT ', ' + fecha_cad
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_fab = 
    STUFF((SELECT ', ' + fecha_fab
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,marca = 
    STUFF((SELECT ', ' + marca
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		   ,procedencia = 
    STUFF((SELECT ', ' + procedencia
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_limite = 
    STUFF((SELECT ', ' + fecha_limite
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,codigo_barras = 
    STUFF((SELECT ', ' + cb
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,alto = 
    STUFF((SELECT ', ' + alto
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,Ancho = 
    STUFF((SELECT ', ' + Ancho
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,profundidad = 
    STUFF((SELECT ', ' + profundidad
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,unidad_envase = 
    STUFF((SELECT ', ' + un_envase
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,bultos = 
    STUFF((SELECT ', ' + bultos
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  ,a.rfc
		  ,numero_remision = 
    STUFF((SELECT ', ' + NUM_REMISI
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden 
          FOR XML PATH('')), 1, 2, '')
		  
FROM CCB_Consulta a, Listado_SC lsc
where a.ID_CS=lsc.ID_CS and lsc.CLIENTE='INSABI'
GROUP BY no_orden,delivery,a.rfc
GO
/****** Object:  View [dbo].[confirmation_view]    Script Date: 20/10/2022 09:59:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[confirmation_view]  
AS 
SELECT a.no_orden,cp.delivery, cantidad = 
    STUFF((SELECT ', ' + cantidad
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		   ,lote = 
    STUFF((SELECT ', ' + lote
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_cad = 
    STUFF((SELECT ', ' + fecha_cad
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_fab = 
    STUFF((SELECT ', ' + fecha_fab
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		  ,marca = 
    STUFF((SELECT ', ' + marca
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		  ,fecha_limite = 
    STUFF((SELECT ', ' + fecha_limite
           FROM CONSULTA_POS b 
           WHERE b.no_orden = a.no_orden and LOTE is not null
          FOR XML PATH('')), 1, 2, '')
		  ,a.rfc
FROM CCB_Consulta   a,CONSULTA_POS cp, Listado_SC lsc
where a.NO_ORDEN=cp.NO_ORDEN and a.ID_CS=lsc.ID_CS and lsc.CLIENTE='IMSS'
and a.DELIVERY is not null
GROUP BY a.no_orden,cp.delivery,a.rfc
GO
INSERT [dbo].[ALTAS] ([ALTA], [FECHA], [NO_CONTRATO], [NO_ORDEN], [PEDIDO_SAP], [CCB], [CANTIDAD], [IMPORTE], [FPP], [UN_REC], [DES_UNIDAD], [RFC], [clasPtalDist], [descDist], [totalItems], [resguardo], [STATUS], [PROCESADO], [ID_CS]) VALUES (N'
228001-107063', N'05/09/2022', N'U220211', N'31245611', N'0003127264', N'010-000-5735-01-01', N'12', N'9334.08', N'20/10/2022', N'228001150900', N'ALMACEN DELEGACIONAL EN PUEBLA                                        ', N'BME820511SU5', N'', N'', 0, N'', NULL, N'X', 1)
INSERT [dbo].[ALTAS] ([ALTA], [FECHA], [NO_CONTRATO], [NO_ORDEN], [PEDIDO_SAP], [CCB], [CANTIDAD], [IMPORTE], [FPP], [UN_REC], [DES_UNIDAD], [RFC], [clasPtalDist], [descDist], [totalItems], [resguardo], [STATUS], [PROCESADO], [ID_CS]) VALUES (N'
358003-109312', N'04/10/2022', N'U220211', N'31275678', N'3127264', N'010-000-5736-01-01', N'33', N'25668.72', N'18/11/2022', N'358003150900', N'IMSS(ALMACEN DELEGACION NORTE DEL DISTRITO FEDERAL)                   ', N'BME820511SU5', N'', N'', 0, N'', NULL, N'X', 1)
INSERT [dbo].[ALTAS] ([ALTA], [FECHA], [NO_CONTRATO], [NO_ORDEN], [PEDIDO_SAP], [CCB], [CANTIDAD], [IMPORTE], [FPP], [UN_REC], [DES_UNIDAD], [RFC], [clasPtalDist], [descDist], [totalItems], [resguardo], [STATUS], [PROCESADO], [ID_CS]) VALUES (N'
348001-106133', N'05/09/2022', N'U220059', N'31251478', N'0003127286', N'010-000-3049-00-00', N'8', N'27370', N'20/10/2022', N'348001150900', N'COORDINACION DE ABASTECIMIENTO Y EQUIPAMIENTO                         ', N'AST961231B69', N'', N'', 0, N'', NULL, N'X', 5)
GO
GO
INSERT [dbo].[CCB_Consulta] ([NO_ORDEN], [PEDIDO_SAP], [CLIENTE_FACTURA], [FECHA_INSERCION], [HORA_CREACION], [DELIVERY], [FECHA_DELIVERY], [HORA_DELIVERY], [STATUS], [RFC], [PROCESADO], [ID], [CLIENTE_DESTINO], [DESCRIPCION_DESTINO], [ENTIDAD_FEDERATIVA], [DESCRIPCION_MATERIAL], [ID_CS]) VALUES (N'31245611', N'0003127264', N'0000100008', N'20221003', N'102403', NULL, NULL, NULL, N'Entrega', N'BME820511SU5', N'P', N'558b5798-33f4-448f-8082-0d04f6a2cb9f', N'401195', N'INSTITUTO MEXICANO DEL SEGURO SOCIA ALMACEN DELEGACIONAL PUEBLA', N'Puebla', N'ISENTRESS 400MG CPR C/60', 1)
INSERT [dbo].[CCB_Consulta] ([NO_ORDEN], [PEDIDO_SAP], [CLIENTE_FACTURA], [FECHA_INSERCION], [HORA_CREACION], [DELIVERY], [FECHA_DELIVERY], [HORA_DELIVERY], [STATUS], [RFC], [PROCESADO], [ID], [CLIENTE_DESTINO], [DESCRIPCION_DESTINO], [ENTIDAD_FEDERATIVA], [DESCRIPCION_MATERIAL], [ID_CS]) VALUES (N'31260763', N'0003127272', N'0000100008', N'20221003', N'160130', NULL, NULL, NULL, N'Entrega', N'BME820511SU5', N'P', N'd085110d-bccb-46ff-aa4c-78c2ff1a75c8', N'401195', N'INSTITUTO MEXICANO DEL SEGURO SOCIA ALMACEN DELEGACIONAL PUEBLA', N'Puebla', N'ISENTRESS 400MG CPR C/60', 1)
GO
INSERT [dbo].[CCB_CORTA_POSICION] ([NO_ORDEN], [CCB], [CANTIDAD], [ITEM], [DESCRIPCION_ITEM], [PRECIO], [PROCESADO], [FECHA_INSERCION], [HORA_INSERCION]) VALUES (N'31230661', N'010 000 4218 00 00', N'9', NULL, NULL, N'8320', NULL, N'09/08/22', N'13:00:00')
INSERT [dbo].[CCB_CORTA_POSICION] ([NO_ORDEN], [CCB], [CANTIDAD], [ITEM], [DESCRIPCION_ITEM], [PRECIO], [PROCESADO], [FECHA_INSERCION], [HORA_INSERCION]) VALUES (N'31231563', N'010 000 4219 00 00', N'18', NULL, NULL, N'16640', NULL, N'09/08/22', N'13:00:00')
INSERT [dbo].[CCB_CORTA_POSICION] ([NO_ORDEN], [CCB], [CANTIDAD], [ITEM], [DESCRIPCION_ITEM], [PRECIO], [PROCESADO], [FECHA_INSERCION], [HORA_INSERCION]) VALUES (N'31234719', N'010 000 4219 00 00', N'11', NULL, NULL, N'16640', NULL, N'09/08/22', N'13:00:00')
GO
INSERT [dbo].[CCB_Suministro] ([RFC], [CCB], [CLIENTE]) VALUES (N'JME841231168', N'010 000 3511 00 00', N'IMSS                                                                                                ')
INSERT [dbo].[CCB_Suministro] ([RFC], [CCB], [CLIENTE]) VALUES (N'JME841231168', N'010 000 4508 00 00', N'IMSS                                                                                                ')
INSERT [dbo].[CCB_Suministro] ([RFC], [CCB], [CLIENTE]) VALUES (N'JME841231168', N'010 000 5657 00 00', N'IMSS                                                                                                ')
GO
INSERT [dbo].[INTERLOCUTORES] ([LUGAR_ENTREGA], [CLIENTE_DESTINO]) VALUES (N'010101200203', N'401230')
INSERT [dbo].[INTERLOCUTORES] ([LUGAR_ENTREGA], [CLIENTE_DESTINO]) VALUES (N'010102200203', N'406432')
INSERT [dbo].[INTERLOCUTORES] ([LUGAR_ENTREGA], [CLIENTE_DESTINO]) VALUES (N'010103200203', N'413914')
GO
INSERT [dbo].[INTERLOCUTORES_INSABI] ([CLUE], [DESTINATARIO_MERCANCIA]) VALUES (N'DFSSA004014', N'403543')
INSERT [dbo].[INTERLOCUTORES_INSABI] ([CLUE], [DESTINATARIO_MERCANCIA]) VALUES (N'DFSSA004936', N'403543')
GO
INSERT [dbo].[Listado_SC] ([ID_CS], [NOMBRE_SC], [USUARIO], [PASSWORD], [TODAS_CLAVES], [SUMINIS_LOTE], [PREFIJO_ARCHIVO], [CLASE_DOCUMENTO], [CENTRO], [ORG_VENTAS], [CANAL], [PROCESADO], [RFC], [MAIL_DESTINATARIO], [TELEFONO_DESTINATARIO], [CLIENTE]) VALUES (1, N'BAYER DE MEXICO', N'BME-820511-SU5', N'Maypobayer2019', N'Si', N'No', N'Bayer_', N'ZMSC', N'FM07', N'FM07', 90, NULL, N'BME820511SU5    ', N'cesar.vazquez@phss.mx,michael.balderas@phss.mx', N'5542675257', N'IMSS')
INSERT [dbo].[Listado_SC] ([ID_CS], [NOMBRE_SC], [USUARIO], [PASSWORD], [TODAS_CLAVES], [SUMINIS_LOTE], [PREFIJO_ARCHIVO], [CLASE_DOCUMENTO], [CENTRO], [ORG_VENTAS], [CANAL], [PROCESADO], [RFC], [MAIL_DESTINATARIO], [TELEFONO_DESTINATARIO], [CLIENTE]) VALUES (3, N'SOLUCIONES EN LIDERAZGO', N'SLF -100626-5D1', N'mayposolidfarma', N'Si', N'Si', N'SolLider_', N'ZMSC', N'FM07', N'FM07', 95, NULL, N'SLF1006265D1    ', N'cesar.vazquez@phss.mx,michael.balderas@phss.mx', N'5542675257', N'IMSS')
INSERT [dbo].[Listado_SC] ([ID_CS], [NOMBRE_SC], [USUARIO], [PASSWORD], [TODAS_CLAVES], [SUMINIS_LOTE], [PREFIJO_ARCHIVO], [CLASE_DOCUMENTO], [CENTRO], [ORG_VENTAS], [CANAL], [PROCESADO], [RFC], [MAIL_DESTINATARIO], [TELEFONO_DESTINATARIO], [CLIENTE]) VALUES (5, N'ASTRAZENECA, S. A. DE C. V.', N'astraz', N'ast -961', N'Si', N'Si', N'Astra_', N'ZTSC', N'FM07', N'FM07', 95, NULL, N'AST961231B69    ', N'cesar.vazquez@phss.mx,michael.balderas@phss.mx', N'5542675257', N'IMSS')
GO
ALTER TABLE [dbo].[CCB_Consulta] ADD  CONSTRAINT [DF_CCB_Consulta_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[CCB_CORTA_IMSS] ADD  CONSTRAINT [DF_CCB_CORTA_IMSS_PROCESADO]  DEFAULT ('N') FOR [PROCESADO]
GO
ALTER TABLE [dbo].[CCB_CORTA_INSABI] ADD  CONSTRAINT [DF_CCB_CORTA_INSABI_PROCESADO]  DEFAULT ('N') FOR [PROCESADO]
GO
ALTER TABLE [dbo].[CCB_CORTA_IMSS]  WITH CHECK ADD  CONSTRAINT [FK_CCB_CORTA_IMSS_INTERLOCUTORES] FOREIGN KEY([LUGAR_ENTREGA])
REFERENCES [dbo].[INTERLOCUTORES] ([LUGAR_ENTREGA])
GO
ALTER TABLE [dbo].[CCB_CORTA_IMSS] CHECK CONSTRAINT [FK_CCB_CORTA_IMSS_INTERLOCUTORES]
GO
ALTER TABLE [dbo].[CCB_CORTA_IMSS]  WITH CHECK ADD  CONSTRAINT [FK_CCB_CORTA_IMSS_INTERLOCUTORES1] FOREIGN KEY([ALMACEN_DESTINO])
REFERENCES [dbo].[INTERLOCUTORES] ([LUGAR_ENTREGA])
GO
ALTER TABLE [dbo].[CCB_CORTA_IMSS] CHECK CONSTRAINT [FK_CCB_CORTA_IMSS_INTERLOCUTORES1]
GO
ALTER TABLE [dbo].[CCB_CORTA_INSABI]  WITH CHECK ADD  CONSTRAINT [FK_CCB_CORTA_INSABI_INTERLOCUTORES_INSABI] FOREIGN KEY([CLUE])
REFERENCES [dbo].[INTERLOCUTORES_INSABI] ([CLUE])
GO
ALTER TABLE [dbo].[CCB_CORTA_INSABI] CHECK CONSTRAINT [FK_CCB_CORTA_INSABI_INTERLOCUTORES_INSABI]
GO
/****** Object:  StoredProcedure [dbo].[errorsAutOR]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[errorsAutOR](
          @msj NVARCHAR(MAX),
          @rfc NVARCHAR(MAX),
		  @noOrder NVARCHAR(MAX)
        ) 
        AS
        BEGIN
          
		  DECLARE @msjErrorCustom NVARCHAR(MAX),@rfcError NVARCHAR(MAX),@id_cs int;

		  set @msjErrorCustom=@msj;
		   set @rfcError=@rfc;

		  if CHARINDEX('FK_CCB_CORTA_IMSS_INTERLOCUTORES1',@msj) > 0
			begin
				--print 'entró al if por contains'
				set @msjErrorCustom='El campo ALMACEN_DESTINO  no exista en la tabla de Interlocutores';
			end

			else if CHARINDEX('FK_CCB_CORTA_IMSS_INTERLOCUTORES',@msj) > 0
			begin
				set @msjErrorCustom='El campo LUGAR_ENTREGA no exista en la tabla de Interlocutores';
			end
			else if CHARINDEX('FK_CCB_CORTA_IMSS_Listado_SC',@msj) > 0
			begin
				set @msjErrorCustom='El Campo RFC no es valido';
				set @rfcError='RPAUSERERROR';
			end
			else if CHARINDEX('FK_CCB_CORTA_INSABI_INTERLOCUTORES_INSABI',@msj) > 0
			begin
				set @msjErrorCustom='El Clue no existe en la tabla de Interlocutores';
			end
			else
			begin
			set @rfcError='RPAUSERERROR';
			end
			--
			
			set @id_cs= (select id_cs from Listado_SC where rfc=@rfcError);

			INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC],ID_CS)
								 VALUES
									   (@noOrder
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,@msjErrorCustom
									   ,@rfcError
									   ,@id_cs
									   );
		
          

		  
        END
GO
/****** Object:  StoredProcedure [dbo].[ProcedureAltas]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Cesar
-- Create date: 01/07/2022
-- Description:	Process to generate altas
-- =============================================
CREATE PROCEDURE [dbo].[ProcedureAltas] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @cliente NVARCHAR(MAX), @archivo NVARCHAR(MAX), @registro NVARCHAR(MAX), @campos NVARCHAR(MAX),@counter int,@idFile int,
	@existReg int,@isDuplicade int,@isDuplicadePosicion int, @rfc NVARCHAR(MAX),@almacenDestino NVARCHAR(MAX),@suministroValidRFC int,@suministroValidCCB int,@idRfc int,
	@almacenEntregaInsabi NVARCHAR(MAX),@clue NVARCHAR(MAX),@cluesCursor  NVARCHAR(MAX) , @cancelada NVARCHAR(MAX),@pedidoSap NVARCHAR(MAX),@laboratorio NVARCHAR(MAX);
	declare @ordersTable table
	(
	id int,
	valor nvarchar(max)
	);
	

    DECLARE db_cursor_orders CURSOR FOR 
	SELECT A.ID_CS,A.RFC,A.ID, A.CLIENT,
    CONVERT
    (
        VARCHAR(MAX), 
        CAST('' AS XML).value('xs:base64Binary(sql:column("BASE64_COLUMN"))', 'VARBINARY(MAX)')
    ) AS RESULT
	FROM
    (
       SELECT CAST(archivo AS VARCHAR(MAX)) AS BASE64_COLUMN,CLIENT,ID,RFC,ID_CS FROM alta_carga_robot WHERE STATUS IS NULL
    ) A;
	OPEN db_cursor_orders  
	FETCH NEXT FROM db_cursor_orders   
	INTO @idRfc,@rfc,@idFile,@cliente, @archivo 
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
        
		--PRINT  @rfc+'-'+@cliente +'-'+   @archivo;
		PRINT  @archivo;
		set @archivo=REPLACE(@archivo,'&','&amp;')
		PRINT  @archivo;
		DECLARE registro_cursor CURSOR FOR
		Select Key_Value  from [dbo].[split](@archivo,'|')
		
		OPEN registro_cursor  
		FETCH NEXT FROM registro_cursor INTO @registro;
		--PRINT @registro ;
		FETCH NEXT FROM registro_cursor INTO @registro;
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN    
         
			PRINT @registro ;
			set @registro=REPLACE(@registro,'&','&amp;');
			PRINT @registro ;
			--RECORRER CAMPOS
			DECLARE campos_cursor CURSOR FOR
				Select Key_Value  from [dbo].[split](@registro,'##')
				
				OPEN campos_cursor  
				FETCH NEXT FROM campos_cursor INTO @campos
				select @counter=1;
				WHILE @@FETCH_STATUS = 0  
				BEGIN    
         
					PRINT  @campos;
					insert into @ordersTable select   @counter , @campos;
					select @counter=@counter+1;

				FETCH NEXT FROM campos_cursor INTO @campos
			 END  
			 
			 PRINT 'El cliente es:'+@cliente;
			
			 IF (@counter > 2 and @cliente='IMSS')
				BEGIN try
			
							select * from @ordersTable;
							set @pedidoSap=(select pedido_sap from CCB_Consulta where [NO_ORDEN]=(select valor from @ordersTable where id=4));
							if @pedidoSap is null
							begin
								set @laboratorio= (select nombre_sc from listado_sc where id_cs=@idRfc);
								INSERT INTO [dbo].[Log_errores]
										   ([NO_ORDEN]
										   ,[STATUS]
										   ,[CODIGO_MENSAJE]
										   ,[FECHA_ERROR]
										   ,[HORA_ERROR]
										   ,[PROCESADO]
										   ,[MENSAJE]
										   ,[RFC]
										   ,ID_CS)
									 VALUES
										   ((select valor from @ordersTable where id=4)
										   ,'N'
										   ,null
										   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
										   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
										   ,'N'
										   ,'El número de ALTA'+  (select valor from @ordersTable where id=1)+' que corresponde al número de orden '+(select valor from @ordersTable where id=4)+
										   ' del laboratorio '+ @laboratorio +' no tiene un documento de venta en SAP.'
										   ,@rfc
										   ,@idRfc);
								 PRINT 'Error no existe pedido sap';
							end

							else
							begin
								

									   INSERT INTO [dbo].[ALTAS]
									   ([ALTA]
									   ,[FECHA]
									   ,[NO_CONTRATO]
									   ,[NO_ORDEN]
									   ,[CCB]
									   ,[CANTIDAD]
									   ,[IMPORTE]
									   ,[FPP]
									   ,[UN_REC]
									   ,[DES_UNIDAD]
									   ,[RFC]
									   ,[clasPtalDist]
									   ,[descDist]
									   ,[totalItems]
									   ,[resguardo],
									   PROCESADO,PEDIDO_SAP,ID_CS)
								 VALUES
									   ((select valor from @ordersTable where id=1) ,
									   (select valor from @ordersTable where id=2) ,
									   (select valor from @ordersTable where id=3) ,
									   (select valor from @ordersTable where id=4) ,
									   (select valor from @ordersTable where id=5) ,
									   (select valor from @ordersTable where id=6) ,
									   (select valor from @ordersTable where id=7) ,
									   (select valor from @ordersTable where id=8) ,
									   (select valor from @ordersTable where id=9) ,
									   (select valor from @ordersTable where id=10) ,
									  @rfc ,
									   (select valor from @ordersTable where id=11) ,
									   (select valor from @ordersTable where id=12) ,
									   (select valor from @ordersTable where id=13) ,
									   (select valor from @ordersTable where id=14),
									   'N',@pedidoSap,@idRfc);
						  	  
								  PRINT 'SE INSERTÓ ALTA IMSS';
								end

				END try
				BEGIN CATCH  
				    SELECT  
						ERROR_NUMBER() AS ErrorNumber  
						,ERROR_SEVERITY() AS ErrorSeverity  
						,ERROR_STATE() AS ErrorState  
						,ERROR_PROCEDURE() AS ErrorProcedure  
						,ERROR_MESSAGE() AS ErrorMessage; 
						print 'Entro al catch';
						print ERROR_MESSAGE();
						DECLARE @msjError NVARCHAR(MAX),@noOrderError NVARCHAR(MAX);  
						SET @msjError = ERROR_MESSAGE();  
						set @noOrderError =(select valor from @ordersTable where id=3);
						--EXECUTE [dbo].[errorsAutOR] @msjError, @rfc, @noOrderError;
				END CATCH;
		
			 --Borra la tabla temporal
			 delete  @ordersTable;
				CLOSE campos_cursor  
				DEALLOCATE campos_cursor 
			--FIN RECORRER CAMPOS



			FETCH NEXT FROM registro_cursor INTO @registro  
        END  
  
    CLOSE registro_cursor  
    DEALLOCATE registro_cursor  

	--update procesado
	update alta_carga_robot set status='P' where ID=@idFile;

		FETCH NEXT FROM db_cursor_orders   
		INTO @idRfc,@rfc,@idFile,@cliente, @archivo  
	END 

CLOSE db_cursor_orders  
DEALLOCATE db_cursor_orders 

	
END
GO
/****** Object:  StoredProcedure [dbo].[ProcedureOrders]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Cesar
-- Create date: 01/07/2022
-- Description:	Process to generate orders
-- =============================================
CREATE PROCEDURE [dbo].[ProcedureOrders] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @cliente NVARCHAR(MAX), @archivo NVARCHAR(MAX), @registro NVARCHAR(MAX), @campos NVARCHAR(MAX),@counter int,@idFile int,
	@existReg int,@isDuplicade int,@isDuplicadePosicion int, @rfc NVARCHAR(MAX),@almacenDestino NVARCHAR(MAX),@suministroValidRFC int,@suministroValidCCB int,
	@almacenEntregaInsabi NVARCHAR(MAX),@clue NVARCHAR(MAX),@cluesCursor  NVARCHAR(MAX) , @cancelada NVARCHAR(MAX);
	declare @ordersTable table
	(
	id int,
	valor nvarchar(max)
	);
	

    DECLARE db_cursor_orders CURSOR FOR 
	SELECT A.RFC,A.ID, A.CLIENT,
    CONVERT
    (
        VARCHAR(MAX), 
        CAST('' AS XML).value('xs:base64Binary(sql:column("BASE64_COLUMN"))', 'VARBINARY(MAX)')
    ) AS RESULT
	FROM
    (
       SELECT CAST(archivo AS VARCHAR(MAX)) AS BASE64_COLUMN,CLIENT,ID,RFC FROM CARGA_ROBOT WHERE STATUS IS NULL
    ) A;
	OPEN db_cursor_orders  
	FETCH NEXT FROM db_cursor_orders   
	INTO @rfc,@idFile,@cliente, @archivo 
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
        
		PRINT  @rfc+'-'+@cliente +'-'+   @archivo;
		
		DECLARE registro_cursor CURSOR FOR
		Select Key_Value  from [dbo].[split](@archivo,'|')
		
		OPEN registro_cursor  
		FETCH NEXT FROM registro_cursor INTO @registro;
		--PRINT @registro ;
		FETCH NEXT FROM registro_cursor INTO @registro;
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN    
         
			--PRINT @registro ;
			--RECORRER CAMPOS
			DECLARE campos_cursor CURSOR FOR
				Select Key_Value  from [dbo].[split](@registro,'##')
				
				OPEN campos_cursor  
				FETCH NEXT FROM campos_cursor INTO @campos
				select @counter=1;
				WHILE @@FETCH_STATUS = 0  
				BEGIN    
         
					PRINT @campos;
					insert into @ordersTable select   @counter , @campos;
					select @counter=@counter+1;

				FETCH NEXT FROM campos_cursor INTO @campos
			 END  
			 
			 PRINT 'El cliente es:'+@cliente;
			 
			 IF (@counter > 2 and @cliente='IMSS')
				BEGIN
					--primero haz update
					-- Update the row if it exists.
					set @existReg = (select count(*) from [dbo].[CCB_Corta]  where [NO_ORDEN] = (select valor from @ordersTable where id=3));
					set @almacenDestino=(select valor from @ordersTable where id=10);
					if (select valor from @ordersTable where id=10)='null'
					begin
					set @almacenDestino=null;
					end
					set @cancelada=(select valor from @ordersTable where id=11);
					IF @cancelada='Cancelada'
					BEGIN
						--inserta cancelada
						INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC])
								 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,'La orden '+(select valor from @ordersTable where id=3)+ ' Se ha cancelado'
									   ,@rfc);

					END
						--UPDATE [dbo].[CCB_Corta]  
						--SET NO_CONTRATO = (select valor from @ordersTable where id=1)  
						--WHERE [NO_ORDEN] = (select valor from @ordersTable where id=3)
					-- Insert the row if the UPDATE statement failed.  
					ELSE IF (@existReg <= 0 )  
						BEGIN 
							
							---Valida Clave de suministro
							set @suministroValidRFC = (select count(*) from [dbo].[CCB_Suministro]  where RFC=@rfc);
							set @suministroValidCCB=  (select count(*) from [dbo].[CCB_Suministro]  where RFC=@rfc and [CCB] = (select valor from @ordersTable where id=5)
							 and cliente=@cliente);

							 IF @suministroValidRFC=0 or(@suministroValidRFC>=1 and @suministroValidCCB>=1 )
								BEGIN
									
										 --Insertar en tabla corta PARA IMSS
										INSERT INTO [dbo].[CCB_Corta]
									   ([NO_CONTRATO],[NO_SOLICITUD],[NO_ORDEN],[FECHA_EMISION],[LUGAR_ENTREGA],[ESTATUS_CLIENTE],[FECHA_ENTREGA],[RFC],[FECHA_INSERCION]
									   ,[HORA_INSERCION],[ALMACEN_DESTINO]
									   )
										VALUES
									   ((select valor from @ordersTable where id=1) ,
									   (select valor from @ordersTable where id=2),
									   (select valor from @ordersTable where id=3),
									   (select valor from @ordersTable where id=6),
									   (select valor from @ordersTable where id=7),
										(select valor from @ordersTable where id=11),
										(select valor from @ordersTable where id=12),
										@rfc,
										(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1)),
										(SELECT CONVERT(CHAR(8),GETDATE(),108)),
										@almacenDestino
									   ); 
						   
									   --corta POSICION
									   INSERT INTO [dbo].[CCB_CORTA_POSICION]
									   ([NO_ORDEN]
									   ,[CCB]
									   ,[CANTIDAD]
									   ,[PRECIO],[FECHA_INSERCION],[HORA_INSERCION]
									   )
										 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,(select valor from @ordersTable where id=5)
									   ,(select valor from @ordersTable where id=13)
									   ,(select valor from @ordersTable where id=14)
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   , (SELECT CONVERT(CHAR(8),GETDATE(),108))
									  );
									select * from @ordersTable;
								  
								  PRINT 'SE INSERTÓ ORDEN IMSS';
								END
							 ELSE IF (@suministroValidRFC>=1 and @suministroValidCCB=0 )
								BEGIN 
									INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC])
								 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,'La orden '+(select valor from @ordersTable where id=3)+ ' NO Suministra MAYPO'
									   ,@rfc);
								END
							
						END 
					ELSE
						BEGIN
							
								set @isDuplicade = (select count(*) from [dbo].[CCB_Corta]  where [NO_ORDEN] = (select valor from @ordersTable where id=3)
								and [NO_CONTRATO]=(select valor from @ordersTable where id=1) and [NO_SOLICITUD]= (select valor from @ordersTable where id=2) 
								and [FECHA_EMISION]=(select valor from @ordersTable where id=6) and [LUGAR_ENTREGA]=(select valor from @ordersTable where id=7)
								and [ESTATUS_CLIENTE]=(select valor from @ordersTable where id=11) 
								and [FECHA_ENTREGA]=(select valor from @ordersTable where id=12)
								and RFC=@rfc AND [ALMACEN_DESTINO]=@almacenDestino);

								set @isDuplicadePosicion = (select count(*) from [dbo].[CCB_CORTA_POSICION]  where [NO_ORDEN] = (select valor from @ordersTable where id=3)
								and [CCB]=(select valor from @ordersTable where id=5) and [CANTIDAD]=(select valor from @ordersTable where id=13)
								and [PRECIO]=(select valor from @ordersTable where id=14));

								IF @isDuplicade=0 or @isDuplicadePosicion=0
									BEGIN
										PRINT 'ELEMENTO DUPLICADO MANDAR ERROR';
										INSERT INTO [dbo].[Log_errores]
										   ([NO_ORDEN]
										   ,[STATUS]
										   ,[CODIGO_MENSAJE]
										   ,[FECHA_ERROR]
										   ,[HORA_ERROR]
										   ,[PROCESADO]
										   ,[MENSAJE]
										   ,[RFC])
									 VALUES
										   ((select valor from @ordersTable where id=3)
										   ,'N'
										   ,null
										   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
										   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
										   ,'N'
										   ,'La orden '+(select valor from @ordersTable where id=3)+ ' ya fue registrada anteriormente, sin embargo hay datos diferentes entre la orden recibida hoy y la registrada'
										   ,@rfc);
									END
							

						END
					
				END
			
			ELSE IF (@counter > 2 and @cliente='INSABI')
								  BEGIN
								  select * from @ordersTable;
									--VALIDATE CLUE
									--Cuando en el campo Almacen_Entrega, viene la leyenda "PARA ENTREGA A CLUES O DESTINO FINAL", 
									--se deberá tomar el campo CLUES hacer un Split por guion medio y poner ese dato en el campo CLUE
									set @almacenEntregaInsabi=(select valor from @ordersTable where id=5);
									PRINT @almacenEntregaInsabi;
									IF @almacenEntregaInsabi='PARA ENTREGA A CLUES O DESTINO FINAL.'
									BEGIN
											PRINT 'Entro en if clues';
											set @cluesCursor=(select valor from @ordersTable where id=10);
											DECLARE clue_cursor CURSOR FOR
											Select Key_Value  from [dbo].[udf-Str-Parse](@cluesCursor,'-')				
											OPEN clue_cursor 
											FETCH NEXT FROM clue_cursor   
											INTO @clue;

											CLOSE clue_cursor  
											DEALLOCATE clue_cursor 
											
											
									END
									PRINT @clue;
										 --Insertar en tabla corta PARA INSABI
										INSERT INTO [dbo].[CCB_Corta]
									   ([NO_CONTRATO],[NO_ORDEN],[ALMACEN_ENTREGA],[DIRECCION_ALMACEN],[CLUES],[ENTIDAD_FEDERATIVA],[PROCEDIMIENTO],
									   [FIANZA],[PARTIDA_PRESUPUESTAL],[CLUE],[RFC],[FECHA_ENTREGA],[FECHA_EMISION],[FECHA_INSERCION]
									   ,[HORA_INSERCION]
									   )
										VALUES
									   ((select valor from @ordersTable where id=13) ,
									   (select valor from @ordersTable where id=1),
									   (select valor from @ordersTable where id=5),
									   (select valor from @ordersTable where id=6),
									   (select valor from @ordersTable where id=10),
										(select valor from @ordersTable where id=11),
										(select valor from @ordersTable where id=14),
										(select valor from @ordersTable where id=15),
										(select valor from @ordersTable where id=16),
										--calculaclue
										@clue,
										@rfc,
										(select valor from @ordersTable where id=4),
										(select valor from @ordersTable where id=3),
										(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1)),
										(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ); 
						   
									   --corta POSICION
									 /*  INSERT INTO [dbo].[CCB_CORTA_POSICION]
									   ([NO_ORDEN]
									   ,[CCB]
									   ,[CANTIDAD]
									   ,[PRECIO],[FECHA_INSERCION],[HORA_INSERCION]
									   )
										 VALUES
									   ((select valor from @ordersTable where id=1)
									   ,(select valor from @ordersTable where id=5)
									   ,(select valor from @ordersTable where id=13)
									   ,(select valor from @ordersTable where id=14)
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   , (SELECT CONVERT(CHAR(8),GETDATE(),108))
									  );*/
									   PRINT 'SE INSERTÓ ORDEN INSABI';
								  END
			 --Borra la tabla temporal
			 delete  @ordersTable;
				CLOSE campos_cursor  
				DEALLOCATE campos_cursor 
			--FIN RECORRER CAMPOS



			FETCH NEXT FROM registro_cursor INTO @registro  
        END  
  
    CLOSE registro_cursor  
    DEALLOCATE registro_cursor  

	--update procesado
	update CARGA_ROBOT set status='P' where ID=@idFile;

		FETCH NEXT FROM db_cursor_orders   
		INTO @rfc,@idFile,@cliente, @archivo  
	END 

CLOSE db_cursor_orders  
DEALLOCATE db_cursor_orders 

	
END
GO
/****** Object:  StoredProcedure [dbo].[ProcedureOrdersv2]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Cesar
-- Create date: 01/07/2022
-- Description:	Process to generate orders
-- =============================================
CREATE PROCEDURE [dbo].[ProcedureOrdersv2] 
	
AS
BEGIN
	
	SET NOCOUNT ON;

	DECLARE @cliente NVARCHAR(MAX), @archivo NVARCHAR(MAX), @registro NVARCHAR(MAX), @campos NVARCHAR(MAX),@counter int,@idFile int,
	@existReg int,@isDuplicade int,@isDuplicadePosicion int, @rfc NVARCHAR(MAX),@almacenDestino NVARCHAR(MAX),@suministroValidRFC int,@suministroValidCCB int,@idRfc int,
	@almacenEntregaInsabi NVARCHAR(MAX),@clue NVARCHAR(MAX),@cluesCursor  NVARCHAR(MAX) , @cancelada NVARCHAR(MAX);
	declare @ordersTable table
	(
	id int,
	valor nvarchar(max)
	);
	

    DECLARE db_cursor_orders CURSOR FOR 
	SELECT A.ID_CS,A.RFC,A.ID, A.CLIENT,
    CONVERT
    (
        VARCHAR(MAX), 
        CAST('' AS XML).value('xs:base64Binary(sql:column("BASE64_COLUMN"))', 'VARBINARY(MAX)')
    ) AS RESULT
	FROM
    (
       SELECT CAST(archivo AS VARCHAR(MAX)) AS BASE64_COLUMN,CLIENT,ID,RFC,ID_CS FROM CARGA_ROBOT WHERE STATUS IS NULL
    ) A;
	OPEN db_cursor_orders  
	FETCH NEXT FROM db_cursor_orders   
	INTO @idRfc,@rfc,@idFile,@cliente, @archivo 
	WHILE @@FETCH_STATUS = 0  
	BEGIN  
        
		--PRINT  @rfc+'-'+@cliente +'-'+   @archivo;
		PRINT  @archivo;
		set @archivo=REPLACE(@archivo,'&','&amp;')
		PRINT  @archivo;
		DECLARE registro_cursor CURSOR FOR
		Select Key_Value  from [dbo].[split](@archivo,'|')
		
		OPEN registro_cursor  
		FETCH NEXT FROM registro_cursor INTO @registro;
		--PRINT @registro ;
		FETCH NEXT FROM registro_cursor INTO @registro;
		
		WHILE @@FETCH_STATUS = 0  
		BEGIN    
         
			PRINT @registro ;
			set @registro=REPLACE(@registro,'&','&amp;');
			PRINT @registro ;
			--RECORRER CAMPOS
			DECLARE campos_cursor CURSOR FOR
				Select Key_Value  from [dbo].[split](@registro,'##')
				
				OPEN campos_cursor  
				FETCH NEXT FROM campos_cursor INTO @campos
				select @counter=1;
				WHILE @@FETCH_STATUS = 0  
				BEGIN    
         
					PRINT  @campos;
					insert into @ordersTable select   @counter , @campos;
					select @counter=@counter+1;

				FETCH NEXT FROM campos_cursor INTO @campos
			 END  
			 
			 PRINT 'El cliente es:'+@cliente;
			 
			 IF (@counter > 2 and @cliente='IMSS')
				BEGIN try
					--primero haz update
					-- Update the row if it exists.
					PRINT 'TIENE MINIMO UN REGISTRO';
					set @existReg = (select count(*) from [dbo].[CCB_CORTA_IMSS]  where [NO_ORDEN] = (select valor from @ordersTable where id=3));
					set @almacenDestino=(select valor from @ordersTable where id=10);
					if @almacenDestino='null'
					begin
					PRINT 'ALAMCEN DESTINO NULL'
					set @almacenDestino=null;
					end
					set @cancelada=(select valor from @ordersTable where id=11);
					IF @cancelada='Cancelada'
					BEGIN
						--inserta cancelada
						INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC]
									   ,ID_CS)
								 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,'La orden '+(select valor from @ordersTable where id=3)+ ' Se ha cancelado'
									   ,@rfc
									   ,@idRfc);

					END
						--UPDATE [dbo].[CCB_Corta]  
						--SET NO_CONTRATO = (select valor from @ordersTable where id=1)  
						--WHERE [NO_ORDEN] = (select valor from @ordersTable where id=3)
					-- Insert the row if the UPDATE statement failed.  
					ELSE IF (@existReg <= 0 )  
						BEGIN 
							
							---Valida Clave de suministro
							set @suministroValidRFC = (select count(*) from [dbo].[CCB_Suministro]  where RFC=@rfc);
							set @suministroValidCCB=  (select count(*) from [dbo].[CCB_Suministro]  where RFC=@rfc and [CCB] = (select valor from @ordersTable where id=5)
							 and cliente=@cliente);

							 IF @suministroValidRFC=0 or(@suministroValidRFC>=1 and @suministroValidCCB>=1 )
								BEGIN
									
										 --Insertar en tabla corta PARA IMSS
										INSERT INTO [dbo].[CCB_CORTA_IMSS]
									   ([NO_CONTRATO],[NO_SOLICITUD],[NO_ORDEN],[FECHA_EMISION],[LUGAR_ENTREGA],[ESTATUS_CLIENTE],[FECHA_ENTREGA],[RFC],[FECHA_INSERCION]
									   ,[HORA_INSERCION],[ALMACEN_DESTINO],[ID_CS]
									   )
										VALUES
									   ((select valor from @ordersTable where id=1) ,
									   (select valor from @ordersTable where id=2),
									   (select valor from @ordersTable where id=3),
									   (select valor from @ordersTable where id=6),
									   (select valor from @ordersTable where id=7),
										(select valor from @ordersTable where id=11),
										(select valor from @ordersTable where id=12),
										@rfc,
										(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1)),
										(SELECT CONVERT(CHAR(8),GETDATE(),108)),
										@almacenDestino,
										@idRfc
									   ); 
						   
									   --corta POSICION
									   INSERT INTO [dbo].[CCB_CORTA_POSICION]
									   ([NO_ORDEN]
									   ,[CCB]
									   ,[CANTIDAD]
									   ,[PRECIO],[FECHA_INSERCION],[HORA_INSERCION]
									   )
										 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,(select valor from @ordersTable where id=5)
									   ,(select valor from @ordersTable where id=13)
									   ,(select valor from @ordersTable where id=14)
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   , (SELECT CONVERT(CHAR(8),GETDATE(),108))
									  );
									select * from @ordersTable;
								  
								  PRINT 'SE INSERTÓ ORDEN IMSS';
								END
							 ELSE IF (@suministroValidRFC>=1 and @suministroValidCCB=0 )
								BEGIN 
									INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC]
									   ,ID_CS)
								 VALUES
									   ((select valor from @ordersTable where id=3)
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,'La orden '+(select valor from @ordersTable where id=3)+ ' NO Suministra MAYPO'
									   ,@rfc
									   ,@idRfc);
								END
							
						END 
					ELSE
						BEGIN
								PRINT 'ELEMENTO Ya existe:';
								PRINT @almacenDestino;
								select * from @ordersTable;
								set @isDuplicade=0;
								set @isDuplicade = (select count(*) from [dbo].[CCB_CORTA_IMSS]  where [NO_ORDEN] = (select valor from @ordersTable where id=3)
								and [NO_CONTRATO]=(select valor from @ordersTable where id=1));
								--and [NO_SOLICITUD]= (select valor from @ordersTable where id=2)); 
								/*and [FECHA_EMISION]=(select valor from @ordersTable where id=6)
								and [LUGAR_ENTREGA]=(select valor from @ordersTable where id=7));
								and [ESTATUS_CLIENTE]=(select valor from @ordersTable where id=11)
								and [FECHA_ENTREGA]=(select valor from @ordersTable where id=12)
								and RFC=@rfc);*/
								--AND [ALMACEN_DESTINO]= @almacenDestino);

								 set @isDuplicadePosicion = (select count(*) from [dbo].[CCB_CORTA_POSICION]  where [NO_ORDEN] = (select valor from @ordersTable where id=3)
								and [CCB]=(select valor from @ordersTable where id=5) and [CANTIDAD]=(select valor from @ordersTable where id=13)
								and [PRECIO]=(select valor from @ordersTable where id=14));
								PRINT @isDuplicade
								IF @isDuplicade=0 or @isDuplicadePosicion=0
									BEGIN
										PRINT 'ELEMENTO DUPLICADO MANDAR ERROR PORQUE TIENE DIFERENCIAS';
										INSERT INTO [dbo].[Log_errores]
										   ([NO_ORDEN]
										   ,[STATUS]
										   ,[CODIGO_MENSAJE]
										   ,[FECHA_ERROR]
										   ,[HORA_ERROR]
										   ,[PROCESADO]
										   ,[MENSAJE]
										   ,[RFC]
										   ,ID_CS)
									 VALUES
										   ((select valor from @ordersTable where id=3)
										   ,'N'
										   ,null
										   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
										   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
										   ,'N'
										   ,'La orden '+(select valor from @ordersTable where id=3)+ ' ya fue registrada anteriormente, sin embargo hay datos diferentes entre la orden recibida hoy y la registrada'
										   ,@rfc
										   ,@idRfc);
									END
							

						END
					
				END try
				BEGIN CATCH  
				    SELECT  
						ERROR_NUMBER() AS ErrorNumber  
						,ERROR_SEVERITY() AS ErrorSeverity  
						,ERROR_STATE() AS ErrorState  
						,ERROR_PROCEDURE() AS ErrorProcedure  
						,ERROR_MESSAGE() AS ErrorMessage; 
						print 'Entro al catch';
						print ERROR_MESSAGE();
						DECLARE @msjError NVARCHAR(MAX),@noOrderError NVARCHAR(MAX);  
						SET @msjError = ERROR_MESSAGE();  
						set @noOrderError =(select valor from @ordersTable where id=3);
						EXECUTE [dbo].[errorsAutOR] @msjError, @rfc, @noOrderError;
				END CATCH;  
			
			ELSE IF (@counter > 2 and @cliente='INSABI')
								  BEGIN
								  PRINT 'llego a insabi';
								  select * from @ordersTable;
									--VALIDATE CLUE
									--Cuando en el campo Almacen_Entrega, viene la leyenda "PARA ENTREGA A CLUES O DESTINO FINAL", 
									--se deberá tomar el campo CLUES hacer un Split por guion medio y poner ese dato en el campo CLUE
									set @almacenEntregaInsabi=(select valor from @ordersTable where id=5);
									PRINT @almacenEntregaInsabi;
									IF @almacenEntregaInsabi='PARA ENTREGA A CLUES O DESTINO FINAL.'
									BEGIN
											PRINT 'Entro en if clues';
											set @cluesCursor=(select valor from @ordersTable where id=10);
											DECLARE clue_cursor CURSOR FOR
											Select Key_Value  from [dbo].[udf-Str-Parse](@cluesCursor,'-')				
											OPEN clue_cursor 
											FETCH NEXT FROM clue_cursor   
											INTO @clue;

											CLOSE clue_cursor  
											DEALLOCATE clue_cursor 
											
											
									END
									PRINT @clue;
										 --Insertar en tabla corta PARA INSABI
										INSERT INTO [dbo].[CCB_CORTA_INSABI]
									   ([NO_CONTRATO],[NO_ORDEN],[ALMACEN_ENTREGA],[DIRECCION_ALMACEN],[CLUES],[ENTIDAD_FEDERATIVA],[PROCEDIMIENTO],
									   [FIANZA],[PARTIDA_PRESUPUESTAL],[CLUE],[RFC],[FECHA_ENTREGA],[FECHA_EMISION],ID_CS--,[FECHA_INSERCION]
									   --,[HORA_INSERCION]
									   )
										VALUES
									   ((select valor from @ordersTable where id=13) ,
									   (select valor from @ordersTable where id=1),
									   (select valor from @ordersTable where id=5),
									   (select valor from @ordersTable where id=6),
									   (select valor from @ordersTable where id=10),
										(select valor from @ordersTable where id=11),
										(select valor from @ordersTable where id=14),
										(select valor from @ordersTable where id=15),
										(select valor from @ordersTable where id=16),
										--calculaclue
										@clue,
										@rfc,
										(select valor from @ordersTable where id=4),
										(select valor from @ordersTable where id=3),
										@idRfc
										--,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1)),
										--(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ); 
						   
									   --corta POSICION
									   INSERT INTO [dbo].[CCB_CORTA_POSICION]
									   ([NO_ORDEN]
									   ,[CCB]
									   ,[CANTIDAD]
									   ,[PRECIO]
									   ,[FECHA_INSERCION],[HORA_INSERCION]
									   )
										 VALUES
									   ((select valor from @ordersTable where id=1)
									   ,(select valor from @ordersTable where id=8)
									   ,(select valor from @ordersTable where id=12)
									   ,(select valor from @ordersTable where id=16)
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   , (SELECT CONVERT(CHAR(8),GETDATE(),108))
									  );
									   PRINT 'SE INSERTÓ ORDEN INSABI';
								  END
			 --Borra la tabla temporal
			 delete  @ordersTable;
				CLOSE campos_cursor  
				DEALLOCATE campos_cursor 
			--FIN RECORRER CAMPOS



			FETCH NEXT FROM registro_cursor INTO @registro  
        END  
  
    CLOSE registro_cursor  
    DEALLOCATE registro_cursor  

	--update procesado
	update CARGA_ROBOT set status='P' where ID=@idFile;

		FETCH NEXT FROM db_cursor_orders   
		INTO @idRfc,@rfc,@idFile,@cliente, @archivo  
	END 

CLOSE db_cursor_orders  
DEALLOCATE db_cursor_orders 

	
END
GO
/****** Object:  StoredProcedure [dbo].[updateIDCSAutOR]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateIDCSAutOR](       
		  @noOrder NVARCHAR(MAX)
        ) 
        AS
        BEGIN

		DECLARE @idCs int;

		
		 
		set @idCs= (select  TOP 1 ID_CS  from CCB_CORTA_IMSS where NO_ORDEN=@noOrder);
		
		if @idCs is not null
		begin
		update CCB_Consulta set ID_CS=@idCs where NO_ORDEN=@noOrder;   
		end


		set @idCs= (select  TOP 1 ID_CS  from CCB_CORTA_INSABI where NO_ORDEN=@noOrder);

		if @idCs is not null
		begin

		update CCB_Consulta set ID_CS=@idCs where NO_ORDEN=@noOrder;  
		end


		  
        END
GO
/****** Object:  StoredProcedure [dbo].[validateFields]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[validateFields](
          @rfc NVARCHAR(MAX),
		  @NO_ORDEN NVARCHAR(MAX),
		  @NO_CONTRATO NVARCHAR(MAX),
		  @NO_SOLICITUD NVARCHAR(MAX),
		  @FECHA_EMISION NVARCHAR(MAX),
		  @LUGAR_ENTREGA NVARCHAR(MAX),
		  @CCB NVARCHAR(MAX),
		  @CANTIDAD NVARCHAR(MAX),
		  @FECHA_ENTREGA NVARCHAR(MAX),
		  @PRECIO NVARCHAR(MAX)
        ) 
        AS
		 DECLARE @msjErrorCustom  NVARCHAR(MAX), @rfcError NVARCHAR(MAX);
        BEGIN
          /*
		  o	NO_ORDEN
o	NO_CONTRATO
o	NO_SOLICITUD
o	FECHA_EMISION
o	LUGAR_ENTREGA
o	CCB
o	CANTIDAD
o	FECHA_ENTREGA
o	RFC
o	PRECIO

		  */
		 

		  
		  set @rfcError=@rfc;

		  if @rfc='' or @rfc is  null
			begin
				--print 'entró al if por contains'
				set @msjErrorCustom='El rfc no puede ir vacío';
				set @rfcError='RPAUSERERROR';
			end

		  else if @NO_ORDEN='' or @NO_ORDEN is  null
			begin
				--print 'entró al if por contains'
				set @msjErrorCustom='El número de orden no puede ir vacío';
			end
			else if @NO_CONTRATO='' or @NO_CONTRATO is  null
			begin
				set @msjErrorCustom='El número de contrato no puede ir vacío';
			end
			else if @NO_SOLICITUD='' or @NO_SOLICITUD is  null
			begin
				set @msjErrorCustom='El número de solicitud no puede ir vacío';
				
			end
			else if @FECHA_EMISION='' or @FECHA_EMISION is  null
			begin
				set @msjErrorCustom='La fecha emisión no puede ir vacío';
			end
			else if @LUGAR_ENTREGA='' or @LUGAR_ENTREGA is  null
			begin
				set @msjErrorCustom='El lugar entrega no puede ir vacío';
			end
			else if @CCB='' or @CCB is  null
			begin
				set @msjErrorCustom='El CCB no puede ir vacío';
			end
			else if @CANTIDAD='' or @CANTIDAD is  null
			begin
				set @msjErrorCustom='La cantidad no puede ir vacío';
			end
			else if @FECHA_ENTREGA='' or @FECHA_ENTREGA is  null
			begin
				set @msjErrorCustom='La fecha entrega no puede ir vacío';
			end
			else if @PRECIO='' or @PRECIO is  null
			begin
				set @msjErrorCustom='El precio no puede ir vacío';
			end
			
			if @msjErrorCustom is not null
			begin

			INSERT INTO [dbo].[Log_errores]
									   ([NO_ORDEN]
									   ,[STATUS]
									   ,[CODIGO_MENSAJE]
									   ,[FECHA_ERROR]
									   ,[HORA_ERROR]
									   ,[PROCESADO]
									   ,[MENSAJE]
									   ,[RFC])
								 VALUES
									   (@NO_ORDEN
									   ,'N'
									   ,null
									   ,(SELECT CONVERT(VARCHAR(10),SYSDATETIME() ,1))
									   ,(SELECT CONVERT(CHAR(8),GETDATE(),108))
									   ,'N'
									   ,@msjErrorCustom
									   ,@rfcError
									   );

									   end
		
          

		  
        END
GO
/****** Object:  Trigger [dbo].[triggerIDCS]    Script Date: 20/10/2022 09:59:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[triggerIDCS]
ON [dbo].[CCB_Consulta]
AFTER INSERT   
AS 
Begin

DECLARE @orden nvarchar(max);

            SELECT @orden=i.no_orden FROM inserted i; 
EXECUTE [dbo].[updateIDCSAutOR] @orden ; 

end
GO
ALTER TABLE [dbo].[CCB_Consulta] ENABLE TRIGGER [triggerIDCS]
GO
USE [master]
GO
